<!DOCTYPE html>
<html>

<head>
    <title>Welcome to the Kraken.</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="admin-lte/dist/css/AdminLTE.min.css">
    <style type="text/css">
    .jumbotron {
        background-image: url(img/bg-img-patients.jpg);
        background-size: cover;
        height: 600px;
        color: white;
    }
    #hero {
    	text-align: center;
    }
    .btn {
    	opacity: 0.85;
    }

    </style>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div id="hero">
                <h1>The Kraken</h1>
                <p>Simple data collection and analysis in rural areas without internet.</p>
                <p>
                    <a class="btn btn-primary btn-flat btn-lg" href="/login">Log In</a>
                    <a class="btn btn-default btn-flat btn-lg" href="">Learn More</a>
                </p>
                <img src="/img/screenshot.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Short pitch</h3>
        </div>
        <div class="row">
            <h3>features</h3>
        </div>
        <div class="row">
            <h3>technology stack</h3>
        </div>
    </div>
</body>

</html>