<header class="main-header" ng-if="!isLoginState()">
    <!-- Logo -->
    <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">b<b>L</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">border<b>LESS</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" ng-click="toggleSidebar()" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><a ui-sref-active="active" ui-sref="add-data.submit({formTemplateId: null})"><i class="fa fa-plus-circle"></i> Add Data</a></li>
                <li><a ui-sref-active="active" ui-sref="completed-forms.forms-list({formTemplateId: null})"><i class="fa fa-database"></i> Form Data</a></li>
                <li><a ui-sref-active="active" ui-sref="analysis"><i class="fa fa-pie-chart"></i> Analysis</a></li>
                <li><a ui-sref-active="active" ui-sref="sync"><i class="fa fa-cloud-upload"></i> Sync</a></li>
                <li><a ui-sref-active="active" ui-sref="form-templates.form-builder({id: null})"><i class="fa fa-edit"></i> Form Editor</a></li>

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="admin-lte/dist/img/avatar3.png" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{user.first_name + " " + user.last_name}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="admin-lte/dist/img/avatar3.png" class="img-circle" alt="User Image">
                            <p>
                                Specialized Nurse
                                <small>Public Health Center, Tecuguigalpa, Honduras</small>
                                <small>{{ user.organization }}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="center-block">
                                <a ng-click="logout()" class="btn btn-default btn-flat">Logout</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" ng-if="online" id="onlineNav">
                    <!-- Status: Online -->
                    <i class="fa fa-wifi"></i> Online</a>
                    <a href="" ng-if="!online" id="offlineNav">
                    <!-- Status: Offline -->
                    <i class="fa fa-ban"></i> Offline</a>
                </li>
            </ul>
        </div>
    </nav>
</header>