* {
  box-sizing: border-box; }

body {
  background: #fdfdfd; }

#main {
  padding-top: 60px;
  margin: 0 auto; }

.login-box {
  margin-top: 0px;
  padding-top: 58px; }

.login-page {
  height: 100vh; }

#login-form {
  width: 60%;
  margin: 0 auto; }

.content-wrapper {
  min-height: 90vh; }

.box {
  max-width: 1200px; }

.dotted-border {
  border: dashed 1px black;
  box-sizing: border-box; }

.form-element {
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative; }
  .form-element .fa-times {
    position: absolute;
    top: 0;
    right: 0; }
  .form-element .btn-box-tool {
    position: absolute;
    top: 0;
    right: 0; }

.select-group {
  margin-top: 20px; }

.form-box .box-body {
  min-height: 70vh; }

.form-box button {
  margin-right: 10px; }

.form-box .fa {
  font-size: 150%; }

.form-box label {
  max-width: 90%;
  overflow: hidden; }

.form-box h4 {
  max-width: 95%;
  overflow: hidden; }

.form-box h2 {
  max-width: 95%;
  overflow: hidden; }

button i {
  margin-right: 5px; }

.field-btn {
  margin: 5px; }

.add-form-btn {
  margin-top: 10px;
  margin-bottom: 10px; }

.no-sidebar {
  margin-left: 0px; }

.field-choices {
  margin-bottom: 5px; }
