<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 pull-left">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">Tab 1</a></li>
			  <li role="presentation"><a href="#">Tab 2</a></li>
			  <li role="presentation"><a href="#">Tab 3</a></li>
			</ul>

			<button class="btn btn-default" ng-click="placeElements('lineText')">Single Line Text</button>	
			<button class="btn btn-default" ng-click="placeElements('paragraphText')">Paragraph Text</button>	
			<button class="btn btn-default" ng-click="placeElements('multipleChoice')">Multiple Choice</button>	
			<button class="btn btn-default" ng-click="placeElements('checkbox')">Checkboxes</button>	
			<button class="btn btn-default" ng-click="placeElements('dropdown')">Dropdown</button>	

		</div>
		<div class="form-div col-sm-9">
		<form>
			<div ng-repeat="element in formElements">
				<line-text ng-if="element.type === 'lineText'"></line-text>
				<checkbox ng-if="element.type === 'checkbox'"></checkbox>
				<dropdown ng-if="element.type === 'dropdown'"></dropdown>
				<paragraph-text ng-if="element.type === 'paragraphText'"></paragraph-text>
				<multiple-choice ng-if="element.type === 'multipleChoice'"></multiple-choice>
			</div>
		</form>
			
		</div>
	</div>
</div>
