<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper no-sidebar">
    <section class="content-header">
        <h3 ng-if="forms.length < 1">There is no data to visualize
        </h3>
        <h3 ng-if="forms.length > 0">Data Visualization <small>Select a chart type and which form data to visualize here.</small></h3>
    </section>
    <section class="content">

    <div class="container" ng-show="forms.length > 0">

        <div class="col-lg-2">
        Form Template
        <select class="form-control" ng-model="formOptions" ng-change="seedLabels(formOptions)" ng-options="form as form.title for form in forms">
        </select>
        </div>

        <div class="col-lg-2">
        Chart Data
        <select class="form-control" ng-model="dataOptions" ng-change="graphChange()" ng-options="label as label for label in formLabels[currentForm]">
        </select>
        </div>

        <div class="col-lg-2">
        Chart Type
        <select class="form-control" ng-model="chartOptions" ng-change="graphChange()" ng-options="chartType as chartType for chartType in chartTypes">
        </select>
        </div>

        <div class="col-lg-2" ng-show="filtering">
        Show Only Results Where
        <select class="form-control" ng-model="firstDrillDown" ng-change="drillDown()" ng-options="label as label for label in formLabels[currentForm]">
        </select>
        </div>

        <div class="col-lg-2" ng-show="filtering">
        Equals
        <select class="form-control" ng-model="furtherDrillDown" ng-change="drillDown(furtherDrillDown)" ng-options="value as value for value in drillDownValues">
        </select>
        </div>

        <div class="col-lg-2">
        <br>
        <button type="button" class="btn btn-success" ng-hide="filtering" ng-model="filterButton" ng-click="filter()">Filter</button>
        </div>

        <div class="col-lg-2">
        <button type="button" class="btn btn-warning" ng-show="filtering" ng-model="filterButton2" ng-click="filter()">Stop Filtering</button>
        </div>

    </div>
    <br>

        <div class="box box-primary" ng-show="chartOptions==='bar graph'">
        <div class="box-header with-border">
        <h3 class="box-title">{{dataOptions}}</h3>
        <div class="chart-container">
            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"  style="margin-top:10px">
            </canvas>
        </div>
        </div>
        </div>

        <div class="box box-primary" ng-show='chartOptions==="pie chart"'>
        <div class="box-header with-border">
        <h3 class="box-title">{{dataOptions}}</h3>
        <div class="chart-container">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" style="margin-top:20px" chart-legend="true">
            </canvas>
        </div>
        </div>
        </div>

        <div class="box box-primary" ng-show="chartOptions==='donut chart'">
        <div class="box-header with-border">
        <h3 class="box-title">{{dataOptions}}</h3>
        <div class="chart-container">
            <canvas id="doughnut" class="chart chart-doughnut" chart-legend="true" chart-data="data" chart-labels="labels" style="margin-top:20px">
            </canvas>
        </div>
        </div>
        </div>

    </section>
</div>
<!-- /.content-wrapper
