// fixing layout for login page
.login-box {
    margin-top: 0px;
    padding-top: 58px;
}
.login-box-body {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
	
}

.login-page {
    height: 100vh;
    background-color: #d5e7f6;
}

#login-form {
    width: 60%;
    margin: 0 auto;
}