* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';


// Fixing content height issue with the AdminLTE CSS template used.
// Height fixing javascript is executed on page load.
// When templates are loaded into ui-views this javascript is not run.
.content-wrapper {
	min-height: 90vh;
}
// fixing layout for login page
.login-box {
  margin-top: 0px;
  padding-top: 58px;
}
.login-page {
  height: 100vh;
}

.box {
  max-width: 1200px;
}