<div class="modal-header">
    <h3 class="modal-title">Success</h3>
</div>
<div class="modal-body">
    Your form was successfully added to your local database!
</div>
<div class="modal-footer flex">
    <button class="btn btn-primary btn-flat" type="button" ng-click="close('add')">Continue Adding Data</button>
    <button class="btn btn-primary btn-flat" type="button" ng-click="close('viewOne')">View This Form</button>
    <button class="btn btn-primary btn-flat" type="button" ng-click="close('viewAll')">View All Completed Forms</button>     
</div>