<section class="content-header" ng-if="form">
    <h1>
        New Form Data
        <small>This page allows you to fill out a new form</small>
    </h1>
    <br>
    <button class="btn btn-flat btn-primary" ui-sref="completed-forms.forms-list({formTemplateId: form._id})">View All Completed Forms</button>
</section>

<section class="content-header" ng-if="!form">
    <h1>
        There are no form templates to fill out
    </h1>
</section>

<section class="content" ng-if="form">
    <!-- Your Page Content Here -->
    <div class="box box-primary">

        <div class="box-header with-border">
            <h3 class="box-title">{{form.title}}</h3>
            <p>{{form.description}}</p>
            <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            </div>
            <!-- /.box-tools -->
        </div>

        <form name="dataForm" ng-submit="dataForm.$valid && submitForm()">
            <div class="box-body">
                <div ng-repeat="element in form.formElements">
                    <form-element element="element" ng-model="formValues[$index]" is-editing="true"></form-element>
                    <hr>
                </div>
            </div>

            <div class="box-footer">
                <div class="col-xs-2 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                </div>
            </div>

        </form>
    </div>
</section>